body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.product-addmin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.side-menu {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 75px
}
.content {
    width: 100%;
    margin-left: 160px;
    position: relative;
    padding: 0px 30px;
    margin-bottom: 30px;
}
.control {
    overflow: hidden;
    background-color: #F5F5F5;
    position: fixed;
    top: 0;
    width: 88%;
    padding: 15px;
    right: 0;
}
.control-content{
    display: flex;
    justify-content: flex-end;
}
.control button, .control .add-product {
    float: right;
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    border: none;
    background-color: #F5F5F5;
    cursor: pointer;
}
.control button:focus{
    outline: none;
}
.control button {
    color: #333;

}
.control .add-product {
    color: #FFF;
    background-color: #80A751;
}
.main-content {
    margin-top: 90px;
    padding: 10px 30px 10px 0px
}
.manage-product{
    margin-left: 10%;
}
section{
    margin-top: 30px;
}
section p {
    margin-bottom: 5px
}
section p::after {
    content: '*';
}
section input, section select {
    width: 60%;
    height: 35px
}
section input[type='number']{
    width: 30%;
}
section textarea{
    width: 60%;
    height: 60px;
}
.category {
    display: flex;
    justify-content: space-between;
}
.category-name {
    width: 50%
}
.category-sku-label {
    width: 30%
}
.category-name input, .category-sku-label input {
    width: 100%
}
footer {
    z-index: 2;
    background: #F5F5F5;
    margin-left: 160px;
}
.copyright{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.float-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}