.prodcut-content{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.product-image {
    width: 100%;
    height: 100%;
    margin-right: 30px;
    display: flex;
}
.thumbnail{
    height: 100%
}

.img-content {
    width: 100%;
    height: 410px;
    overflow: hidden;
}
.img-content  .mySlide{
    width: 100%;
    height: 410px;
}

.img-content img{
    width: 100%;
    height: 100%;
}
.thumbnails-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.img-thumbnails {
    width: 79px;
    height: 81px;
    margin-top: 15px;
    margin-right: 15px;
}
.img-thumbnails img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-infor{
    width: 100%;
    height: 100%;
}
.product-infor .product-review{
    display: flex;
    line-height: 40px;
}
.product-infor .product-review .review{
    padding-right: 32px;
}
.product-infor .product-review .number{
    display: flex;
}
.product-price{
    display: flex;
    flex-direction: row;
}
.product-price .product-special-price {
    font-size: 30px;
    color: var(--primary_color);
    margin-right: 60px;
}
.product-price .old-price{
    font-size: 24px;
}
.product-price .normal-price{
    font-size: 30px;
    margin-right: 60px;
}
.product-infor .product-review .number:after, .product-infor .product-review .number:before{
    content: '|';
    width: 1px;
    height: 24px;
    margin: 0 32px;
}
.product-infor .product-review .sold-number{
    padding-left: 32px;
}
.product-qty .wrap-num-product {
    height: 50px;
}
.product-qty .btn-num-product-down, .product-qty .btn-num-product-up{
    width: 30px;
    height: 30px;
    background-color: var(--primary_color);
    margin-top: 6px;
}
.product-qty .btn-num-product-down i, .product-qty .btn-num-product-up i {
    color: var(--white_1) !important;
}
.product-infor .product-action{
    display: flex;
}
.product-infor .product-action button{
    border: 1px solid var(--primary_color);
    color: var(--primary_color);
    font-size: 16px;
    padding: 15px;
    border-radius: 5px;
    margin-top: 60px;
    margin-right: 30px;
    font-weight: 600;
    display: flex;
    line-height: 30px;
    background-color: var(--gray_3);
}
.product-infor .product-action button p{
    padding: 0;
    margin: 0;
}
.product-infor .product-action button a{
    color: var(--primary_color);
    text-decoration: none;
}
.product-infor .product-action button:hover{
    background-color: var(--primary_color);
    color: var(--white_1);
}
.product-infor .product-action button:hover a{
    color: var(--white_1);
}
.product-infor .product-action button .cart-icon{
    margin: auto 15px auto auto;
}
.product-infor .product-action button:hover .cart-icon{
    margin: auto 15px auto auto;
    background-image: url("../imgs/icon/white/shopping-cart 1.svg");
}
.product-qty input{
    width: 100px;
    height: 40px;
    background-color: var(--gray_6);
    border: none;
    border-bottom: 3px solid var(--primary_color);
    border-radius: 0;
    color:var(--black)
}

.product-full-detail{
    margin-top: 60px;
}
.product-full-detail .skltbs-theme-light .skltbs-tab.skltbs-active{
    background-color: var(--white_1);
    border: none;
    color: var(--normal-color);
    font-weight: 600;
}
.product-full-detail .skltbs-theme-light .skltbs-tab.skltbs-active:focus, .product-full-detail .skltbs-theme-light .skltbs-tab.skltbs-active:hover {
    border-color: unset;
    box-shadow: unset;
    outline: none;
}
.product-full-detail button:focus:not(:focus-visible) {
     outline: unset;
    box-shadow: unset;
}
.product-full-detail .skltbs-theme-light .skltbs-tab{
    background-color: var(--white_1);
    border: none;
    color: var(--black);
}
.product-description li{
    list-style: none;
}
.review{

}
.recent-product{
    margin-top: 60px;
}
.recent-product .product-inner {
     display: flex !important;
     width: 100%;
     height: 100%;
     margin: auto;
    justify-content: space-around;
}
.recent-product .product-inner .product-photo:last-child{
    margin-right: 0!important;
}
.carouse-control{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.recent-product h4{
    color: var(--normal-color);
}
.recent-product .carousel-control-next, .recent-product .carousel-control-prev{
    width: 50px;
    height: 50px;
    background-color: var(--secondary_color);
    position: unset;
    opacity: 1;
}
.loupe {
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    box-shadow: 5px 5px 12px black;
    background: rgba(0, 0, 0, 0.25);
    cursor: crosshair;
    overflow: hidden;
}

.loupe img {
    position: absolute;
    right: 0;
}
.recent-product-mobile{
    display: none;
}
.skltbs-panel section{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.skltbs-panel section label{
    margin-bottom: 10px;
}
.skltbs-panel section input{
   height: 45px;
}
.skltbs-panel section textarea{
    height: 100px;
}
.customer-infor {
    display: flex;
    margin-bottom: 15px;
}
.customer-infor .avatar{
    width: 40px;
    height: 40px;
    margin-right: 30px;
}
.cusomter-name{
    padding: 0;
    margin: 0;
    line-height: 40px;
}

.customer-infor .avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.comment-time{
    float: right;
    font-style: italic;
    font-size: 10px;
}
.commnent{
    background-color: var(--secondary_color);
    color: var(--white_1);
    border: none;
    padding: 5px 10px;

}
.comment-btn{
    background-color: var(--primary_color);
    color: var(--white_1);
    border: none;
    padding: 10px 15px;
}
@media screen and (max-width: 1024px) {
    .prodcut-content {
        flex-direction: column;
    }
    .product-image {
        width: 100%;
        height: 100%;
        margin-right: 30px;
        display: flex;
    }
    .thumbnail {
        width: 100%;
        height: 300px;
    }
    .thumbnails-content {
        flex-direction: column;
        overflow: scroll;
        width: 100%;
        height: 300px;
        flex-wrap: wrap;
    }
    .img-thumbnails {
        height: 100%;
        float: left;
        width: 100%;
        padding: 5px;
        overflow: hidden;
    }
    .img-content{
        display: none;
    }
    .product-infor .product-review .review {
         padding-right: 0;
    }
    .product-infor .product-review .number:after, .product-infor .product-review .number:before {
        margin: 0px 6px;
    }
    .product-infor .product-review .sold-number {
        padding-left: 6px;
    }
    .product-price {
        flex-direction: column;
    }
    .product-infor .product-action button {
        margin-top: 30px;
        margin-right: 15px;
    }
    .breadcrum ul {
        margin-bottom: 0;
    }
    .desktop{
        display: none;
    }
    .recent-product-mobile{
        display: block;
        overflow: scroll;
        width: 100%;
        height: 497px;
        margin-top: 30px;
    }
    .recent-product-mobile-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 492px;
        overflow: scroll;
    }
}