@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');

html, body {
	width: 100%;
	height: 100%;
	;
	color: #222;
}

.navbar {
	background-color: #80A751 !important;
}
.navbar li a {
    color: white !important;
}
.navbar li a:hover {
    color: black !important;
}
.carousel-inner img {
	width: 100%;
}
.hero-banner {
	width: 100%;
	height:500px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/carousel1.jpg");
}

.carousel-caption {
	position: absolute;
	top: 20%;
}
.carousel-caption h1 {
	text-transform: uppercase;
	text-shadow: 5px 5px 15px #000;
}
.carousel-caption h3 {
	text-shadow: 2px 2px 10px #000;
}
.bnt-content {
	margin-top: 30px;
}
.btn-outline-light {
	padding: 10px 30px
}
.btn-primary {
	background-color: #80A751;
	padding: 10px 30px;
	border: 1px solid #80A751;
}
.btn-primary:hover {
	background-color: #80A751;
	border: 1px solid white;
}
.jumbotron {
	padding: 1rem;
	border-radius: 0;
	background-color: #80A751;
	color: white;
	height: 100px;
}
.welcome hr {
	border-top: 2px solid #80A751;
	width: 95%;	
	margin-bottom: 2rem;
}
.display-4 {
	font-size: 36px;
}
.header-text {
	display: flex;
	justify-content: center;
}
.header-content {
	width: 100%;
	margin: 30px 0px;
}
.header-text h1{
	width: max-content;
	position: relative;
	padding: 0px 30px
}
.header-text h1::before, .header-text h1::after {
	content:'';
	background-color: #222222;
	width: 450px;
	height: 2px;
	position: absolute;
	top: 25px
}
.header-text h1::before {
	left: 100%;
}
.header-text h1::after {
	right: 100%;
}
.jumbotron-content{
	justify-content: space-around;
	flex-direction: row;
	display: flex;
	text-align: center;}
@media (max-width: 992px){
	.carousel-caption {
		top: 20%;
	}
	.carousel-caption h1{
		;
	}
	.carousel-caption h3{		
		;		
	}
	.carousel-caption .btn{		
		;		
	}
	.header-text h1::before, .header-text h1::after {
		width: 100%
	}
}
@media (max-width: 768px){	
	.carousel-caption {
		top: 20%;
	}
	.carousel-caption h1{
		;
	}
	.carousel-caption h3{		
		;
		padding-bottom: 0.2rem;
	}
	.carousel-caption .btn{		
		
		padding: 8px 14px;
	}
}
@media (max-width: 576px){
	.carousel-caption {
		top: 10%;
	}
	.carousel-caption h1{
		;
	}
	.carousel-caption h3{		
		;		
	}
	.carousel-caption .btn {		
		
		padding: 4px 8px;
	}	
}