* {
	font-family: 'Montserrat', sans-serif;
	color: #f73131;
}

body {
	width: 1000px;
	margin: 0px auto;
}

header {
  height: 100px;
  margin: 0px 10px;
  padding-bottom: 10px;
}

header button {
	float: right;
	width: 150px;
	height: 40px;
	border-radius: 5px;
	margin-top: 30px;
	background-color: #f73131;
	color: #fff;
	text-align: center;
}

a {
	text-decoration: none;
}

td {
	padding: 0px 30px;
}

ul img {
	width: 200px;
	height: 300px;
}

nav {
	margin: 10px;
	padding: 2px;
}

nav ul li {
	display: inline;
	padding: 10px;
	background-color: #000;
	color: #fff;
}

nav li a {
	color: #fff;
}

nav li:hover {
	background: #f73131;
	color: #fff;
}

#container {
	width: auto;
	border-spacing: 10px;
	padding: 10px;
}

.side-menu-bar {
	margin: 0px 0px 15px 0px;
	padding: 10px;
	background-color: #000;
	color: #fff;
	text-align: center;
}

.side-menu {
	float: left;
	width: 30%;
	border: 2px solid black;
}

.side-menu li a:hover {
	background-color: #000;
	color: #fff;
}

.main {
	float: right;
	width: 66%;
	border: solid 2px black;
	margin-bottom: 10px;
	padding: 10px;
}

.main-title {
	border-bottom: solid black;
	margin-top: 0px;
	padding-bottom: 5px;
	font-size: 150%;
	text-align: left;
}

.main p {
	color: #000;
}

.main a:hover {
	text-decoration: underline;
}

.main button {
	margin-left: 15px;
	border-radius: 5px;
	background-color: transparent;
}

.main input {
	color: black;
}

.main input[type=submit] {
	border-radius: 5px;
	background-color: inherit;
	height: 30px;
	font-size: 15px;
}

.main ul {
	list-style: none;
}

.grid li {
  float: left;
  width: 40%;
  height: 450px;
  border-right: 1px dotted #CCC;
  border-bottom: 1px dotted #CCC;
  padding: 20px;
	text-align: center;
}

.list li {
  width: 100%;
  border-bottom: 1px dotted #CCC;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.list #right-main {
	float: right;
	width: 55%;
}

.cart-button {
	float: left;
}

#cart {
	width: 80%;
	border: solid black 1.5px;
	margin: 0px auto;
	text-align: center;
}

#cart tr, #cart td {
	padding: 10px;
	color: #000;
}

footer {
	clear: right;
  height: 40px;
	border: solid 2px black;
	margin: 0px 10px;
  padding: 0px 10px 10px 100px;
  font-size: 15px;
  text-align: left;
}